@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}


<div class="logotipo">
    <h1 class="logotipo-titulo">Bienvenido</h1>
    <p>Seleccione un menú para iniciar la gestión de Aspirantes.</p>
</div>
