<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal Selección</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://use.typekit.net/iua0dbj.css" />
    <link rel="stylesheet" href="css/estilo.css" type="text/css" />
    <link rel="stylesheet" href="css/inputs.css" type="text/css" />
    <link href="GestionPruebas.Web.styles.css" rel="stylesheet">
    <link href="~/css/spinkit/spinkit.min.css" rel="stylesheet" />
    <link href="~/css/toast/toast.css" rel="stylesheet" />
    
</head>
<body>

    <div class="main">
        <div class="content px-6">
            @RenderBody()
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/powerbi-client/2.22.4/powerbi.min.js" integrity="sha512-ZMmyGjAz4cSAlJZVBrJnpcoWv2KVhPpH6H738XBYnPHY66xUC7QgmZNqBymp2WSAL3hZmdpFpVRkoB3mgET6jQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>
